*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

header{
    background-color: #F8F9FA;
    height: 50px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #212529;
}

.vermelho{
    color: red;
}

.btnInicio{
    height: 30px;
    width: 85px;
    border-radius: 8px;
    cursor: pointer;
}

main{
    height: 535px;
    display: flex;
    justify-content: space-between;
}

.lateralEsquerda{
    margin-left: 100px;
}

.lateralDireita{
    margin-right: 100px;
    margin-left: 40px;
    height: 100%;
    width: 560px;
    left: 680px;
    top: 122px;
    border-radius: 0px;

}

#selecionarCategoria{
    height: 40px;
    width: 120px;
    border-radius: 8px;
}

.filtroCategoria{
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 14px;
}

.BtnDefiltro{
    margin-left: 8px;
    margin-right: 8px;
    height: 30px;
    width: 85px;
    border-radius: 8px;
    cursor: pointer;
}
